<div class="container mb-3">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 content-section">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control"
          [ngClass]="{'is-invalid': username.invalid && username.touched}">
          <div class="form-errors"
          *ngIf="username.invalid && username.touched">
            <small>
              <p *ngIf="username.errors.required">This field is required.</p>
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password"
          [ngClass]="{'is-invalid': password.invalid && password.touched}">
          <div class="form-errors"
          *ngIf="password.invalid && password.touched">
            <small>
              <p *ngIf="password.errors.required">This field is required.</p>
            </small>
          </div>
        </div>

        <button [disabled]="loginForm.invalid" class="btn btn-outline-info" type="submit">Login</button>
      </form>
      <small>Forgot your password? Click <a routerLink="/forgot-password">here</a> to request a new one.</small>
    </div>
  </div>
</div>