<div class="container mb-3">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 content-section">
      <h2>Login</h2>
      <form (ngSubmit)="login()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text"
                class="form-control"
                required
                name="username"
                #usernameField="ngModel"
                [(ngModel)]="username">
          <div *ngIf="usernameField.errors && usernameField.errors.required">
            <small>Username is Mandatory</small>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                class="form-control"
                required
                name="password"
                #passwordField="ngModel"
                [(ngModel)]="password">
          <div *ngIf="passwordField.errors && passwordField.errors.required">
            <small>Password is Mandatory</small>
          </div>
        </div>

        <button type="submit">Login</button>
      </form>
      <small>Forgot your password? Click <a routerLink="/forgot-password">here</a> to request a new one.</small>
    </div>
  </div>
</div>