<nav class="navbar navbar-expand-md bg-gray navbar-dark fixed-top">
  <a class="navbar-brand" routerLink="/index">recipe_box</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/index">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipe-create">New Recipe</a>
      </li>
      <li class="dropdown show">
          <a class="nav-item nav-link dropdown-toggle"
          href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Username</a>
          <div class="dropdown-menu dropdown-menu-right"
          aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" >User Stats</a>
            <a class="dropdown-item" >Account Settings</a>
            <a class="dropdown-item" >Logout</a>
          </div>
      </li>
    </ul>
  </div>
</nav>