{% load static %}<!DOCTYPE doctype html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Recipebox</title>
<base href="/"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href='{% static "ng/favicon.ico" %}' rel="icon" type="image/x-icon"/>
<link href='{% static "ng/styles.266210d9e18d8208453c.css" %}' rel="stylesheet"/></head>
<body>
<app-root></app-root>
<script src='{% static "ng/runtime-es2015.c5fa8325f89fc516600b.js" %}' type="text/javascript"></script><script defer="" src='{% static "ng/runtime-es5.c5fa8325f89fc516600b.js" %}' type="text/javascript"></script><script defer="" src='{% static "ng/polyfills-es5.8e50a9832860f7cf804a.js" %}' type="text/javascript"></script><script src='{% static "ng/polyfills-es2015.5b10b8fd823b6392f1fd.js" %}' type="text/javascript"></script><script defer="" src='{% static "ng/scripts.f1be455205d1db403962.js" %}' type="text/javascript"></script><script src='{% static "ng/main-es2015.182520ffa2193440ff3b.js" %}' type="text/javascript"></script><script defer="" src='{% static "ng/main-es5.182520ffa2193440ff3b.js" %}' type="text/javascript"></script></body>
</html>
