{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RecipeboxFrontend</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'recipes/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'recipes/styles.ba1de39eb5b08f09c1fe.css' %}"></head>
<body>
  <app-root></app-root>
<script src="{% static 'recipes/runtime-es2015.d5623f03f1e64ac8e12f.js' %}" type="text/javascript"></script>
<script src="{% static 'recipes/polyfills-es2015.551225243b1eb435bb30.js' %}" type="text/javascript"></script>
<script src="{% static 'recipes/runtime-es5.a8c9c2928baa49aa82ad.js' %}" type="text/javascript"></script>
<script src="{% static 'recipes/polyfills-es5.7d557f3a1ecba44264aa.js' %}" type="text/javascript"></script>
<script src="{% static 'recipes/scripts.193ae588fbe8215848a2.js' %}" type="text/javascript"></script>
<script src="{% static 'recipes/main-es2015.ea72b4bbd1cfd86d6d4b.js' %}" type="text/javascript"></script>
<script src="{% static 'recipes/main-es5.501c0bd74cfd108f414a.js' %}" type="text/javascript"></script></body>
</html>
