<div class="container mb-3">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 content-section">
      <h2>Register</h2>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" formControlName="username"
          [ngClass]="{'is-invalid': username.invalid && username.touched}">
          <div class="form-errors"
          *ngIf="username.invalid && username.touched">
            <small>
              <p *ngIf="username.errors.required">This field is required.</p>
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" formControlName="email"
          [ngClass]="{'is-invalid': email.invalid && email.touched}">
          <div class="form-errors"
          *ngIf="email.invalid && email.touched">
            <small>
              <p *ngIf="email.errors.required">This field is required.</p>
              <p *ngIf="email.errors.email">Must be an email address.</p>
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password"
          [ngClass]="{
            'is-invalid': (password.invalid && password.touched) ||
            (password.touched && confirmPassword.touched && registerForm.invalid)}">
          <div class="form-errors"
          *ngIf="password.invalid && password.touched">
            <small>
              <p *ngIf="password.errors.required">This field is required.</p>
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword"
          [ngClass]="{
            'is-invalid': (confirmPassword.invalid && confirmPassword.touched) ||
            (password.touched && confirmPassword.touched && registerForm.invalid)}">
          <div class="form-errors" 
          *ngIf="confirmPassword.invalid && confirmPassword.touched">
            <small>
              <p *ngIf="confirmPassword.errors.required">This field is required.</p>
            </small>
          </div>
        </div>

        <div class="form-group form-errors"
        *ngIf="password.value != confirmPassword.value && password.touched && confirmPassword.touched">
          <small>Passwords do not match</small>  
        </div>

        <button class="btn btn-outline-info" type="submit"
        [disabled]="!registerForm.valid">Register</button>          
      </form>
      <small>Already have an account? Go <a routerLink="/login">here</a> to log in.</small>
    </div>
  </div>
</div>