<div class="card h-100">
  <div class="card-img-top home-recipe-pic-div">
    <img *ngIf="recipe.image_file" class="home-recipe-pic" src="{{recipe.image_file}}" />
    <img *ngIf="!recipe.image_file" class="home-recipe-pic" src="assets/img/default.png" />
  </div>
  <div class="card-body">
    <h4 class="card-title"><a>{{recipe.title}}</a></h4>
    <small class="card-text text-muted">
      Author: <a>{{recipe.user.username}}</a>
    </small>
    <p class="card-text">{{ recipe.description }}</p>
  </div>
</div>
