<nav class="navbar navbar-expand-md bg-gray navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/index">recipe_box</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/index">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="logged_in">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes/create">New Recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/{{userService.user.pk}}/recipes">My Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!logged_in">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>