<nav class="navbar navbar-expand-md bg-gray navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/index">recipe_box</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/index">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!logged_in">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="logged_in">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes/create">New Recipe</a>
        </li>
        <li class="nav-item dropdown">
          <a id="user-menu" class="nav-link dropdown-toggle" href="#"
              role="button" id="userDropdownBtn" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            {{userService.user.username}}
          </a>
          <div class="dropdown-menu dropdown-menu-right"
              aria-labelledby="userDropdownBtn">
            <a id="profile" class="dropdown-item"
              routerLink="/account">Account</a>
              <a class="dropdown-item" routerLink="/user/{{userService.user.pk}}/recipes">My Recipes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item link" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>      
    </div>
  </div>
</nav>