<div class="container mb-3">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input [(ngModel)]="recipe.title" type="text" name="title"
          class="form-control" id="title" aria-describedby="nameHelp"
          placeholder="Enter your title">
        </div>
          
        <div class="form-group">
          <label for="description">Description</label>
          <textarea [(ngModel)]="recipe.description" name="description"
          class="form-control" id="description" aria-describedby="descHelp">
          </textarea>
        </div>
          
        <div class="form-group">
          <label for="servings">Servings</label>
          <input [(ngModel)]="recipe.servings" type="number" name="servings"
          class="form-control" id="servings" aria-describedby="servingsHelp"
          placeholder="Servings">
        </div>
          
        <div class="form-group">
          <label for="cookTime">Cook Time</label>
          <input [(ngModel)]="recipe.cookTime" type="number" name="cookTime"
          class="form-control" id="cookTime" aria-describedby="cookTimeHelp"
          placeholder="Cook Time">
        </div>
          
        <div class="form-group">
          <label for="ingredients">Ingredients</label>
          <textarea [(ngModel)]="recipe.ingredients" name="ingredients"
          class="form-control" id="ingredients" aria-describedby="descHelp">
          </textarea>
        </div>
          
        <div class="form-group">
          <label for="directions">Directions</label>
          <textarea [(ngModel)]="recipe.directions" name="directions"
          class="form-control" id="directions" aria-describedby="descHelp">
          </textarea>
        </div>
          
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          <input [(ngModel)]="recipe.imageUrl" type="text" name="imageUrl"
          class="form-control" id="imageUrl" aria-describedby="nameHelp"
          placeholder="Enter your imageUrl">
        </div>
        </form>
        <button class="btn btn-outline-primary" (click)="createRecipe()">Create Recipe</button>
    </div>
  </div>
</div>